////
/// @author       Anthony Dillon
/// @link         https://github.com/CanonicalLtd/juju-cards
/// @since        0.0.1
////

/// Default button mixin
/// @group Buttons
@mixin button($button-color, $button-bg, $border-color) {

  @extend %button-pattern;
  color: $button-color;
  background: $button-bg;
  position: relative;
  z-index: 10;
  top: 1px;
  @if $border-color != null {
    border: 1px solid $border-color;
  }

  &:hover {
    background: darken($button-bg, 6.2%);
    @if $button-bg == $transparent {
      text-decoration: underline;
    }
  }
}
