////
/// @author       Anthony Dillon
/// @link         https://github.com/CanonicalLtd/juju-cards
/// @since        0.0.1
////

/// Base card styling
/// @group Cards
/// @example
/// <div class="juju-card">
///   ...
/// </div>
@mixin base {
  .juju-card {
    color: $text-color;
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    font-weight: 300;
    font-size: $base-font-size;
    border: 1px solid $border-color;
    background: $white;
    width: 100%;
    box-sizing: border-box;

    &__error {
      transition: opacity .5s;
      opacity: 0;
    }

    &__container {
      opacity: 0;
      transition: opacity .5s;
      padding: 20px;

      &--bundle {
        padding: 0 0 20px;
      }
    }

    &.juju-card--rendered {
      .juju-card__error {
        opacity: 1;
        padding-left: 20px;
        padding-right: 20px;
      }

      .juju-card__container {
        opacity: 1;
      }
    }

    img {
      position: static;
      transform: none;
    }
  }
}
