////
/// @author       Anthony Dillon
/// @link         https://github.com/CanonicalLtd/juju-cards
/// @since        0.0.1
////

/// Bundle card styling
/// @group Cards
/// @example
/// <div class="juju-card">
///   <div class="bundle-card">
///     ...
///   </div>
/// </div>
@mixin bundle {
  .bundle-card {
    padding: 0 0 20px;
    position: relative;

    &:hover {
      background-color: $hover-background;
    }

    &__link {
      text-indent: -9999px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &__header {
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;
    }

    &__image {
      float: left;
      margin-right: 20px;
      width: 50px;
      height: 50px;
    }

    &__title {
      margin: 0;
      font-weight: 300;
      font-size: 18px;
    }

    &__meta,
    &__by {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
      list-style: none;
      padding-left: 0;
      margin-top: 5px;

      a:link,
      a:visited {
        color: $brand-color;
        text-decoration: none;
        position: relative;
        z-index: 10;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    &__meta-item--by,
    &__meta-item--deploys,
    &__meta-item--series {
      float: left;
      margin-right: 5px;
    }

    &__meta-item--deploys,
    &__meta-item--series {
      display: none;
    }

    &__main {
      margin: 20px;
    }

    &__actions {
      list-style: none;
      padding-left: 0;
      margin: 10px 0 0;
    }

    &__actions-field {
      font-family: "Ubuntu Mono", "Consolas", "Monaco", "Lucida Console", "Courier New", Courier, monospace;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .12);
      background-color: $white;
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 15.999999"><path opacity=".212" fill="none" d="M0 0h16v16H0z"/><path style="line-height:125%;-inkscape-font-specification:Ubuntu;text-align:center" d="M2.666 2C.888 2 0 2 0 4.068v8.866C0 15 .888 15 2.666 15h10.668C15.112 15 16 15 16 12.934v-8.8C16 2.002 15.112 2 13.334 2H2.666zm1.28 1.89h1.1v1.143c.34.028.643.078.91.15.27.062.48.127.636.19L6.328 6.42c-.205-.078-.448-.152-.73-.223-.276-.07-.593-.105-.953-.105-.382 0-.67.07-.86.213-.19.134-.285.32-.285.56 0 .14.028.26.084.36.056.09.143.176.256.254.113.07.25.14.412.21.162.065.346.132.55.203.29.113.56.232.815.36.26.12.487.265.678.435.19.162.34.356.445.582.113.225.17.494.17.804 0 .466-.144.868-.433 1.207-.29.34-.767.56-1.43.658v1.324H3.945V11.97c-.508-.037-.922-.104-1.24-.202-.31-.106-.542-.2-.697-.286l.36-1.005c.225.113.496.214.814.306.324.092.692.14 1.1.14.488 0 .824-.073 1.007-.214.19-.15.286-.343.286-.583 0-.162-.04-.304-.117-.424-.08-.12-.188-.226-.33-.318-.14-.092-.31-.176-.507-.254-.19-.077-.404-.157-.637-.24-.22-.08-.437-.168-.656-.267-.212-.1-.405-.218-.582-.36-.17-.148-.306-.324-.412-.53-.106-.203-.16-.454-.16-.75 0-.488.146-.902.435-1.24.29-.347.735-.568 1.335-.667V3.89zM8 11.987h3.99v.996H8v-.996z" font-size="15" font-family="Ubuntu" letter-spacing="0" word-spacing="0" text-anchor="middle" fill="gray"/></svg>');
      background-repeat: no-repeat;
      background-position: 10px center;
      box-sizing: border-box;
      border: 1px solid $light-grey;
      padding: 10px 10px 10px 35px;
      width: 100%;
      color: $mid-grey;
      font-size: 16px;
      font-weight: 300;
      cursor: text;
      margin: 5px 0 10px;
      position: relative;
      z-index: 10;
    }

    &__add-button {

      &--primary {
        @include button($text-color, $white, $light-grey);
      }
    }

    &__actions-item--details, {
      display: none;
    }

    &__deploys {
      margin: 10px 0;
      font-weight: 300;
      font-size: 23px;
      text-align: center;
    }

    &__footer {
      margin: 20px 20px 0;
    }

    &__footer-logo {
      vertical-align: middle;
      margin-right: 10px;
      width: 40px;
      position: relative;
      z-index: 10;
    }

    &__footer-note {
      display: inline;
      font-size: 13px;
      color: $mid-grey;
      float: right;
      margin: 0;

      a {
        text-decoration: none;
        color: inherit;
        position: relative;
        z-index: 10;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    &__image-container {
      background-color: $canvas-bg;
      padding: 20px;
    }

    &__bundle-image {
      max-width: 100%;
      height: auto;
      max-height: 180px;
    }

    &__meta {
      margin: 0;
    }
  }

  .juju-card--medium,
  .juju-card--large {
    .bundle-card {

      &__image {
        width: 96px;
        height: 96px;
      }

      &__title {
        font-size: 1.5em;
      }

      &__meta {
        margin-bottom: 25px;
        font-size: 1.125em;
        margin: 0;
      }

      &__meta-item--by,
      &__meta-item--deploys,
      &__meta-item--series {
        display: inline-block;

        &::after {
          content: '•';
          color: $mid-grey;
          padding-left: 5px;
          position: relative;
          top: 2px;
        }

        &:last-of-type::after {
          content: '';
          padding-left: 0;
        }
      }

      &__actions-item--details,
      &__actions-item--demo {
        display: block;
      }

      &__footer-logo {
        width: 60px;
      }

      &__bundle-image {
        max-height: 282px;
      }
    }
  }

  .juju-card--large {
    .bundle-card {

      &__main {
        margin-right: 0;
      }

      &__meta,
      &__actions {
        @extend %half-half;
      }

      &__actions-item--demo,
      &__actions-item--details, {
        width: 100%;
      }

      &__title {
        font-size: 32px;
      }

      &__meta {
        margin-bottom: 0;
        margin-top: 10px;
        vertical-align: top;
      }

      &__by {
        font-size: 23px;
      }

      &__bundle-image {
        max-height: 562px;
      }
    }
  }
}
