
%button {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  box-sizing: border-box;
  background-color: #dd4814;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
  padding: 0.7em;
  text-align: center;
  transition: background 0.2s;
  width: 100%;
  margin-bottom: 10px;
}

%half-half {
  width: 49%;
  display: inline-block;
  margin-right: 2%;

  &:last-of-type {
    margin-right: 0;
  }
}

.juju-card {
  color: #333;
  font-family: Ubuntu, Arial, "libra sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  background: #fff;
  width: 100%;
  box-sizing: border-box;

  &__error {
    display: block;
  }

  &__container {
    opacity: 0;
    transition: opacity .5s;
    padding: 20px;

    &--bundle {
      padding: 0 0 20px 0;
    }
  }

  &.juju-card--rendered {
    .juju-card__error {
      display: none;
    }

    .juju-card__container {
      opacity: 1;
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__image {
    float: left;
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }

  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
  }

  &__meta,
  &__meta--bundle,
  &__by {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
    margin-top: 5px;

    a:link,
    a:visited {
      color: #dd4814;
      text-decoration: none;
    }
  }

  &__meta-item--by,
  &__meta-item--deploys,
  &__meta-item--series {
    float: left;
    margin-right: 5px;
  }

  &__meta-item--deploys,
  &__meta-item--series {
    display: none;
  }

  &__main {
    margin-bottom: 20px;
  }

  &__main--bundle {
    margin: 20px;
  }

  &__actions {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;
  }

  &__actions-item--demo {
    display: none;
  }

  &__actions-field {
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.12);
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    padding: 10px;
    width: 100%;
    color: #888888;
    font-size: 16px;
    font-weight: 300;
    cursor: text;
    margin: 5px 0 20px;
  }

  &__actions-field,
  &__actions-label {
      display: none;
  }

  &__details-button,
  &__add-button {

    &--primary {
      @extend %button;

      &:hover {
        background: #ae3910;
      }
    }

    &--secondary {
      @extend %button;
      box-shadow: none;
      border: 1px solid #b2b2b2;
      background-color: #fff;
      color: #333;

      &:hover {
        background: #eee;
      }
    }
  }

  &__deploys {
    margin: 10px 0;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
  }

  &__footer {
    margin-top: 20px;
  }

  &__footer--bundle {
    margin: 20px 20px 0;
  }

  &__footer-logo {
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
  }

  &__footer-note {
    display: inline;
    font-size: 13px;
    color: #888888;
    float: right;
    margin: 0;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__image-container {
    background-color: #f7f7f7;
    padding: 20px;
  }

  &__bundle-image {
    max-width: 100%;
    height: auto;
    max-height: 180px;
  }

  &__container--bundle {
    .juju-card__header {
      border-bottom: 1px solid #cdcdcd;
    }

    .juju-card__meta {
      margin: 0;
    }
  }
}

.juju-card--medium,
.juju-card--large {
  .juju-card {

    &__image {
      width: 96px;
      height: 96px;
    }

    &__title {
      position: relative;
      top: 15px;
      font-size: 1.5em;
      margin-bottom: 20px;
    }

    &__meta {
      margin-bottom: 25px;
      font-size: 1.125em;
    }

    &__meta-item--by,
    &__meta-item--deploys,
    &__meta-item--series {
      display: inline-block;

      &::after {
        content: "•";
        color: #888888;
        padding-left: 5px;
        position: relative;
        top: 2px;
      }

      &:last-of-type::after {
        content: "";
        padding-left: 0;
      }
    }

    &__actions-item--demo,
    &__actions-item--details, {
      @extend %half-half;
    }

    &__actions-item--demo {
      display: inline-block;
    }

    &__footer-logo {
      width: 60px;
    }

    &__bundle-image {
      max-height: 282px;
    }

    &__container--bundle {
      .juju-card__meta {
        margin: 0;
      }

      .juju-card__title {
        top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.juju-card--large {
  .juju-card {
    &__container--charm {
      .juju-card__header,
      .juju-card__main {
        @extend %half-half;
      }
    }

    &__main {
      margin-right: 0;
    }

    &__main--bundle {
      .juju-card__meta,
      .juju-card__actions {
        @extend %half-half;
      }
    }

    &__actions-item--demo,
    &__actions-item--details, {
      width: 100%;
    }

    &__title {
      top: 10px;
      margin-bottom: 15px;
      font-size: 32px;
    }

    &__meta {
      margin-bottom: 0;
    }

    &__by {
      font-size: 23px;
    }

    &__bundle-image {
      max-height: 562px;
    }
  }
}
