////
/// @author       Anthony Dillon
/// @link         https://github.com/CanonicalLtd/juju-cards
/// @since        0.0.1
////

// Values
$base-font-size: 16px;

// Colors
$white: #fff;
$text-color: #333;
$brand-color: #dd4814;
$light-grey: #c1c1c1;
$mid-grey: #888;
$secondary-button-border: #b2b2b2;
$canvas-bg: #f7f7f7;
$transparent: transparent;
